/*Main stylesheet for Backtop jQuery Plugin */

#backTop{
    width:20px;
    height:20px;
    padding:10px;
    border-radius:5px;
    text-indent:-9999px;
    cursor:pointer;
    z-index:999999999;
	display:none;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

#backTop.red{
	 background: url(../images/uparr-48-b.png) no-repeat center center rgba(255,255,255,0.558); 
	background-size:30px;
   box-shadow:0px 1px 2px #000;
   
   
}
#backTop.red:hover{
	 background: url(../images/uparr-48-b.png) no-repeat center center rgba(255,255,255,0.558); 
	background-size:30px;
   box-shadow:0px 1px 2px #000;
   
}

#tabcontent{
	display:none;
}