/*Impotant CSS Keep*/
/*Desktop Menu / Nav*/
#menu {
    font-family:Montreal-Xlight, Arial, Tahoma, sans-serif;
    padding-top:0px;
    padding-bottom:0px;
	text-align:center;
    cursor:pointer;
    display:flex;
	margin: 0 auto;
	width: 80%;
}
@media (min-width:0px){
#menu li {
    padding:15px;
    float: none;
    position:relative;
    list-style:none;
	margin:0px;
	
	-webkit-transition: background 0.6s ease, padding-left 0.6s ease;
	-moz-transition: background 0.6s ease, padding-left 0.6s ease;
	-o-transition: background 0.6s ease, padding-left 0.6s ease;
	transition: background 0.6s ease, padding-left 0.6s ease;	
}
.navhead{
    width: 25%;
}
}
@media (min-width:800px){
#menu li {
    padding:25px;
    float:left;
    position:relative;
    list-style:none;
	margin:0px;
	
	-webkit-transition: background 0.6s ease, padding-left 0.6s ease;
	-moz-transition: background 0.6s ease, padding-left 0.6s ease;
	-o-transition: background 0.6s ease, padding-left 0.6s ease;
	transition: background 0.6s ease, padding-left 0.6s ease;	
}
}
#menu li:hover {
	background:rgb(28, 168, 28);
}
#menu a {
    font-weight:bold;
    color:rgb(25, 197, 25);
    text-decoration:none;
    display:block;
	font-family: 'arial', Tahoma, sans-serif;
    font-size:12pt;
}
/* selected menu element*/
#menu .current a, #menu li:hover > a {
    color:#fff;
}
/* sublevels */
#menu ul li:hover a, #menu li:hover li a {
    background:none;
    border:none;
    color:#666666;
	
}
#menu ul li a:hover {
    background:rgb(25, 197, 25);
    color:#fff;
    padding-left:30px;  
}
/* drop down */
#menu li:hover > ul {
    opacity:1;
    visibility:visible;
	z-index:999999999999999999;
	
}
@media (min-width:0px){
#menu ul {
	left:-60px;
	margin-top:15px;
    opacity:0;
    visibility:hidden;
    padding:0px;
	width:350px;
    position:absolute;
    background:#FFF;
	box-shadow:0px 1px 3px #000;
	border:0px solid #fff;
	border-radius:0px;
}
}
@media (min-width:800px){
#menu ul {
	left:0px;
	margin-top:22px;
    opacity:0;
    visibility:hidden;
    padding:0px;
	width:100%;
    position:absolute;
    background:#FFF;
	box-shadow:0px 1px 3px #000;
	border:0px solid #fff;
	border-radius:0px;
}
}
#menu ul li {
    float:none;
    margin:0px;
	border-bottom:1px solid #cecece;
	padding:0px;
}
#menu ul a {
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
    font-weight:normal;
    font-size:12pt;
	text-align:left;
	-webkit-transition: background 0.6s ease, padding-left 0.6s ease;
	-moz-transition: background 0.6s ease, padding-left 0.6s ease;
	-o-transition: background 0.6s ease, padding-left 0.6s ease;
	transition: background 0.6s ease, padding-left 0.6s ease;	
}
/*End of Desktop Menu / Nav*/
@media (max-width:1030px){
    #menu a {
        font-weight:bold;
        color:rgb(25, 197, 25);
        text-decoration:none;
        display:block;
        font-family: 'arial', Tahoma, sans-serif;
        font-size:10pt;
    }
    #top_button{
        display: none;
    }
}
/*Tablet Menu / Nav*/
/*End of Impotant CSS Keep*/