.jcarousel-skin-tango .jcarousel-container {
    width: 100%; 
    border:0px solid red;
    margin-top:100px;
    margin-bottom:50px;
    
    
 }
 .jcarousel-skin-tango .jcarousel-container a {
    width: 100%;
    color:#000;
    line-height:18px;
    font-size:10pt;
    text-decoration:none;
    
 }
 
 .jcarousel-skin-tango .jcarousel-direction-rtl {
     direction: rtl;
 }
 
 @media (min-width:400px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 400px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 @media (min-width:500px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 500px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 @media (min-width:600px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 600px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 @media (min-width:700px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 700px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 
 @media (min-width:800px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 800px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 @media (min-width:900px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 900px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 @media (min-width:1000px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 1000px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 @media (min-width:1100px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 1100px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 @media (min-width:1200px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 1200px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 @media (min-width:1300px){
 .jcarousel-skin-tango .jcarousel-container-horizontal {
     width: 1300px;
    padding:0px 0px; 
    border:0px solid red;
    
    
 }
 }
 
 
 .jcarousel-skin-tango .jcarousel-clip {
     overflow: hidden;
     
 }
 @media (min-width:0px){
 .jcarousel-skin-tango .jcarousel-clip-horizontal {
     width: 90%;
     margin:0px 0px 0px 0px;
     border:0px solid red;
     
 }
 }
 @media (min-width:800px){
 .jcarousel-skin-tango .jcarousel-clip-horizontal {
     width: 95%;
     margin:0px 0px 0px 0px;
     border:0px solid red;
     
 }
 }
 
 
 .jcarousel-skin-tango .jcarousel-item {
     width: auto; 
     padding:0px 0px 0px 0px;
     -webkit-transition: box-shadow 0.6s ease, color 0.6s ease;
     -moz-transition: box-shadow 0.6s ease, color 0.6s ease;
     -o-transition: box-shadow 0.6s ease, color 0.6s ease;
     transition: box-shadow 0.6s ease, color 0.6s ease;
 }
 .jcarousel-skin-tango li{
     width:auto;
     height:auto;
     border:0px solid red;
     background:#fff;
     padding:0px;
     
 }
 
 .jcarousel-skin-tango .jcarousel-item:hover,
 .jcarousel-skin-tango .jcarousel-item:focus {
     
     
 }
 
 .jcarousel-skin-tango .jcarousel-item-horizontal {
     margin: 10px;
     padding:0px;
     
     border-radius:5px;
 }
 
 .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
     margin-left: 0px;
     margin-right: 0;
 }
 
 
 
 .jcarousel-skin-tango .jcarousel-item-placeholder {
 }
 
 /**
  *  Horizontal Buttons
  */
 .jcarousel-skin-tango .jcarousel-next-horizontal {
     position: absolute;
     top: 0;
     right: 0px;
     width: 32px;
     height: 100%;
     cursor: pointer;
     background: transparent url(../images/next1.png) left no-repeat;
 }
 
 .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
     left: 0px;
     right: auto;
     background-image: url(../images/next1.png);
 }
 
 .jcarousel-skin-tango .jcarousel-prev-horizontal {
     position: absolute;
     top: 0;
     left: 0px;
     width: 32px;
     height: 100%;
     cursor: pointer;
     background: transparent url(../images/prev1.png) right no-repeat;
 }
 
 .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
     left: auto;
     right: 0px;
     background-image: url(../images/next1.png);
 }
 